* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

a, button {
	cursor: pointer;
}

body {
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0 24px;
	background-image: url("img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	animation: pan 6s infinite alternate linear; 
}


.login-card > h2 {
	margin: 0 0 12px;
	font-size: 36px;
	font-weight: 600;	
}

.login-card > h3 {
	margin: 0 0 30px;
	font-weight: 0 0 30px;
	font-size: 16px;
	color: rgba(0,0,0, .38);
}

.login-form {
	width: 100%;
	margin: 0;
	display: grid;
	gap: 16px;
}

@keygrames pan {
	100% {
		background-position: 15% 50%;
	}
}


@media only screen (max >= 500px) {
	body {
		padding: 0;
	}
}